@font-face {
    font-family: 'OfficinaSansStd-Bold';
    src: url('./assets/fonts/OfficinaSansStd-Bold.otf') format('truetype');
}

body {
    background-image: url("./assets/background/bg.jpg");
    background-repeat: repeat;
}

.site {
    background-color: white;
    padding: 0px !important;
}

.nozamatext {
    font-family: 'OfficinaSansStd-Bold', sans-serif;
    text-align: center;
}

.banner {
    font-size: 60px;
    line-height: 40px;
    margin-top: 10%;
}

.banner a {
    color: #333c4c;
}

a:focus,
a:hover {
    text-decoration: none !important;
}

.banner img {
    width: 100px;
}

.navbar {
    margin-bottom: 8px !important;
}

.nav-link {
    color: #e47911 !important;
    font-family: 'OfficinaSansStd-Bold', sans-serif;
    font-size: medium;
    text-transform: uppercase;
}

.icon {
    width: 42px;
    margin-right: 16px;
}

.icon-small {
    width: 16px;
    margin: 0 6px 0 8px;
}

.search {
    display: flex !important;
}

.search-icon {
    width: 19px;
}

#inpup-main-search {
    width: 75%;
    margin-right: 16px;
}

.card img {
    width: 100%;
    height: 300px;

    object-fit: cover;
    border: 4px solid #333c4c;
    border-radius: 16px;
    background-position: center;
}

.card-title,
.card-text {
    text-align: center;
}

.card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    min-height: 100px;
}

.card {
    width: 100%;
    cursor: pointer;
}

@media (min-width: 801px) {
    .mobile-view {
        display: none;
    }

    .see-btn {
        max-width: 20%;

    }
}

@media (max-width: 800px) {
    .mobile {
        margin-left: 8px !important;
    }

    .site {
        display: table !important;
        margin: 0 16px !important;
    }

    .desktop-view {
        display: none !important;
    }

    .navbar-inverse .navbar-toggle {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 15px;
    }

    .navbar-inverse {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .navbar-toggle {
        background-color: #e47911 !important;
        border-color: transparent !important;
        border-radius: 30% !important;
        height: 42px !important;
    }

    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.635);
        border-color: transparent !important;
    }

    .navbar-collapse ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navbar-collapse li {
        border-bottom: 1px solid #555;
    }

    .navbar-collapse li a {
        color: #fff;
        padding: 10px 15px;
        display: block;
    }

    .nav li a {
        color: white !important;
    }
}

.card:hover {
    color: #e47911;
}

.card img:hover {
    transform: scale(1.05);
}

.titulo-secao {
    background: #e47911;
    color: white;
    padding: 8px;
    margin-top: 0 !important;
}

.titulo-subsecao {
    color: #333c4c;
    margin-bottom: 28px;
    margin-top: 8px;
    text-decoration: underline overline #e47911;
    text-decoration: none;
    border-bottom: 3px solid #e47911;
    padding-bottom: 6px;
}

.center {
    text-align: center;
}

.search-section {
    padding-right: 16px;
}

.search-section label {
    margin-top: 8px;
}

.section {
    padding: 24px;
}

.text {
    margin-top: -16px;
}

.side {
    background-color: #e9ebe97a !important;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #f2f2f2;
    padding: 5px;
}

.submit {
    background-color: darkgrey;
    color: white;
    width: 60%;
    border-radius: 18px !important;
    text-transform: uppercase;
    margin-bottom: 24px !important;
    margin-top: 16px;
}

.footer {
    background-color: #e9ebe97a !important;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: #f2f2f2;
    padding: 5px;
}

.no-bullet {
    list-style-type: none;
}

.menu a {
    color: #e47911;
}

.copyright {
    text-align: center;
    padding: 24px;
}

.margin-text {
    margin-bottom: 16px;
}

#categorias li {
    text-align: justify;
    font-size: 14px;
    size: 14px;
    font-size: large;
    text-transform: capitalize;
    padding-bottom: 16px;
}